<head>
  <style>
    body {
      font-family: times, Helvetica, Arial, sans-serif;
    }
  </style>
</head>
<div class="educations">
  <h2>Educations</h2>
  <dt>Emory University (<dc>2021 - Present</dc>) </dt> <img src="emory-university-logo.png" width="160" style="float:right; position:relative;right:10px;top:-30px" >
    <dd>Ph.D. in Computational Science and Informatics</dd>
    <dd><b>GPA</b>: 3.98/4.00</dd>
<!--    <dd><b>Thesis Topic</b>: Towards Efficiently and Effectively Harnessing Large Pre-trained Models via Data-centric Lens. </dd>-->
    <dd><b>Research Focus</b>: EHR modeling, Clinical NLP, Large Language Models.</dd>
    <dd><b>Advisor</b>: Prof. Carl Yang & Prof. Joyce Ho</dd>
    <p></p>
  <dt>Emory University (<dc>2017 - 2021</dc>) </dt>
  <dd><b>B. S.</b> in Computer Science, <b>Double Major</b> in Applied Mathematics</dd>
    <dd><b>GPA</b>: 3.97/4.00</dd>
    <dd><b>Research Focus</b>: Natural Language Processing.</dd>
    <dd><b>Advisor</b>: Prof. Jinho Choi</dd>
</dl>
</div><br>
